@import '/src/theme/variable';

.product-page__info-container {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 35.1rem;
    // background-color: ;
}

.product-page__card {
    display: flex;
    flex-direction: column;
    max-width: 35.1rem;
    height: max-content;
    padding: 2.2rem;
    border-radius: 0.4rem;
    background: $white;
}

.product-page__header-wrapper {
    margin-bottom: 2rem;
}

.product-page__header {
    display: block;
    text-align: center;
    font-size: 24px;
}

.product-page__header-descrip {
    display: block;
    text-align: center;
    font-size: 14px;
    color: $light-text;
}

.product-page__size-title {
    margin-bottom: 1rem;
    text-align: center;
    font-size: 14px;
}

.product-page__size-plate {
    @include show-size(0.8rem, 0.8rem);
}

.product-page__sizes {
    @include size(0.8rem, 2.5rem);
    font-weight: 400;
    font-size: 1rem;

    &:hover {
        opacity: 0.7;
    }

    transition: background-color 0.3s ease, color 0.3s ease;
    margin-bottom: 2rem;
}

._active-size {
    background-color: $black;
    color: $white;
}

.product-page__price {
    padding-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.4rem;
    line-height: 2.3rem;
    font-weight: 400;
    text-align: center;
    border-top: 1px solid $primaty-5;
}
