@import '/src/theme/variable';

.header__cart {
    width: 3.5rem;
    height: 3.5rem;
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 1rem;
    justify-content: center;
    border-radius: 0.5rem;
    background-color: transparent;
    transition: background-color 0.3s linear 0s;

    &:hover {
        background-color: $background-hover;

        .header_cart-counter {
            background-color: $black;
            color: $white;
            transition: background-color 0.3s linear 0s;
        }
    }
}

.cart__container {
    width: 2rem;
    position: relative;
}

.header_cart-link {
    display: block;
    background-image: url('/src/assets/images/cart.svg');
    width: 2rem;
    height: 2rem;
}

.header_cart-counter {
    padding: 0.1rem 0.5rem;
    border: 2px solid $white;
    border-radius: 100px;
    position: absolute;
    bottom: 2px;
    right: 2px;
    z-index: 1;
    background-color: $background;
    margin: 0;
    height: 1.53rem;
    line-height: 1;
}

.cart-counter {
    margin: 0;
    padding: 0;
    border: 0;
    justify-content: center;
    height: 1.4rem;
    min-width: 0.8rem;
    font-size: 10px;
}
