@import '/src/theme/variable';

.catalog {
    height: 100%;
    padding-bottom: 2rem;
    display: flex;
}

.catalog_wrapper {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 86.4rem;
    flex: 0 1 86.4rem;
    opacity: 1;
    -webkit-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

.catalog_products {
    display: grid;
    justify-items: center;
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fit, minmax(150px, 25%));
}

.products-card {
    display: block;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    padding: 3.6rem 0.8rem 2.4rem;
    background-color: $background;
    border-radius: 0.4rem;
    position: relative;
    // height: 28rem;
    max-width: 28rem;
    height: 539px;
    // margin-bottom: 0.8rem;

    .products-card__overlay {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0);
        -webkit-transition: background-color 0.3s ease, height 0.2s ease;
        -o-transition: background-color 0.3s ease, height 0.2s ease;
        transition: background-color 0.3s ease, height 0.2s ease;
        z-index: 2;
        pointer-events: none;
    }

    &:hover {
        .products-card__overlay {
            border-radius: 0.4rem;
            background-color: $primaty-5;
            height: 539px;
        }
    }
}

.products-card__link {
    text-align: center;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
    &:hover,
    &:active {
        text-decoration: none;
        color: rgba(0, 0, 0, 0.8);
    }
}

.product-card__body-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.product-card__image {
    display: block;
    width: 100%;
    margin-bottom: 1.8rem;
}

.image-product {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.product-card__descriptions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.product-card__title {
    display: flex;
    flex-direction: column;
    height: 50px;
    font-size: 14px;
    margin-bottom: 1.2rem;
    // display: flex;
}

.product-card__title-brand {
    display: block;
    margin-bottom: 0.3rem;
}

.product-card__title-name {
    display: block;
    height: 3.2rem;
    font-size: 12px;
    line-height: 1.1rem;
    color: $light-text;
}

.product-card__price {
    height: 54px;
}

.old-price {
    color: $light-text;
    text-decoration: line-through;
}

.product-card__price-discount {
    display: inline-block;
    color: $black;
    margin-left: 0.4rem;
}

.product-card__price-new {
    color: $red;
    margin-top: 0.4rem;
}

.product-card__price-order {
    display: flex;
    align-items: center;
    width: max-content;
    margin: 1.2rem auto 0;
    // background-color: $white;
    border-radius: 0.4rem;
    font-size: 12px;
    padding: 0.8rem;
    @extend %border-for-toolbar;
    position: relative;
    z-index: 2;
    cursor: pointer;
}

.product-card__sizes-wrapper {
    position: relative;
}
.product-card__sizes {
    cursor: pointer;
    display: flex;
    align-items: center;
    @extend %border-for-toolbar;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    height: 1.8rem;
    background-color: $primary10;

    &:active {
        background-color: $white;
    }
}

.active-size {
    background-color: $white;
}

.show_sizes {
    margin-top: 0.8rem;
    display: flex;
    gap: 0.4rem;
    align-items: center;
    justify-content: center;
}

.hide {
    display: none;
}
