@import '/src/theme/variable';

.toolbar__product-page {
    min-height: 3.2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    transition: top 0.3s ease;
}

.product-page__item-score {
    text-decoration: none;
    color: inherit;
    font-size: 12px;
    color: $light-text;

    &:last-child {
        color: $black;
    }
}
