@import '/src/theme/variable';

.toolbar__select_item-sort {
    width: auto;
    position: relative;
    font-size: 1.2rem;
    line-height: 1.5rem;
}

.select_item-sort {
    display: flex;
    // justify-content: space-between;
    justify-content: space-between;
    align-items: center;
    // gap: 2.5rem;
    cursor: pointer;
    @extend %border-for-toolbar;
    width: 12rem;
}

.select_list {
    background-color: $white;
}

.select_dropdown {
    background-color: $white;
    visibility: hidden;
    height: 0;
    border-left: 1px solid $primary10;
    border-right: 1px solid $primary10;
    border-bottom: 1px solid $primary10;
    border-radius: 0 0 0.4rem 0.4rem;
    position: absolute;
    left: 0;
    right: 0;
    overflow-y: auto;
    z-index: 30;
}

.select__item {
    display: flex;
    align-items: center;
    height: 2.8rem;
    padding-left: 0.8rem;
    color: $light-text;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-size: 12px;
    cursor: pointer;

    &:hover {
        background-color: $primary10;
        color: $primary-80;
    }
}

.hide {
    display: none;
} //TODO - нужно ли на список кидать?

.open {
    height: auto;
    visibility: visible;
}

.select {
    background-color: $primary10;
    color: $primary-80;
}

.select__arrow {
    margin: 1rem;
    transition: 0.15s 0.1s;
    height: 0.4rem;
    width: 0.4rem;
    background-image: url('../../../../../../assets/images/arrow.svg');
}

.active-arr {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-180deg);
    transition: 0.15s 0.1s;
}

.svg {
    width: 100%;
    height: 100%;
    display: block;
}
