@import '/src/theme/variable';

.checkbox-filter {
    padding: 0 1.3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-bottom: 2rem;
}

.checkbox-filter__body {
    width: 100%;
    height: 224px;
    background-color: red;
    overflow-y: scroll;
}

.checkbox-filter__list {
    list-style: none;
}

