@import '/src/theme/variable';

.checkbox-filter {
    padding: 0 1.3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-bottom: 1rem;
}

.checkbox-filter__body {
    width: 100%;
    height: 210px;
    overflow-y: scroll;
}

.checkbox-filter__list {
    list-style: none;
}

.checkbox-filter__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.checkbox-filter__input {
    display: none;
}

.checkbox-filter__input:checked ~ .checkbox-filter__input-title::after{
    content: "";
    position: absolute;
    top: 25%;
    left: 0;
    width: 1rem;
    height: 1rem;
    background-image: url(../../../../../../assets/images/checked.svg);
    background-repeat: no-repeat;
    background-position: 50%;   
    transition: .2s;
}

.checkbox-filter__input-title{
    position: relative;
    font-size: 0.8rem;
    color: $black;
    padding: 0.5rem 0.5rem 0.5rem 1.5rem;
    cursor: pointer;
    transition: color .3s ease;

    &:hover {
        color: $light-text;
    }
}

.checkbox-filter__input-title::before {
    content: "";
    position: absolute;
    top: 25%;
    left: 0;
    width: 1rem;
    height: 1rem;
    background-color: $light-grey;
    border-radius: 25%;
    transition: .2s;
}

.checkbox-filter__item-count {
    font-size: 0.8rem;
    color: $black;
    padding-left: 4.5rem;
}
