@import '/src/theme/colors';

$desktop: 1200px;
$footer-height: 70px;

%border-for-toolbar {
    border: 1px solid $primary10;
    padding-left: 0.8rem;
    height: 2.2rem;
    font-size: 12px;
    border-radius: 0.4rem;
}

%heading-m {
    font-size: 1.1rem;
    padding: 0 1.3rem 1rem 1.3rem;
    color: $black;
    font-weight: 400;
}
$header-height: 80px;
