@import '/src/theme/variable';

.footer {
    height: $footer-height;
    width: 100%;
    background-color: $white;
    text-transform: uppercase;
    color: $light-text;
    font-size: 0.7rem;
    display: flex;
}

.footer__container {
    padding-right: 15px;
    padding-left: 15px;
    max-width: $desktop;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__copyright {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__link {
    color: $light-text;
    &:hover {
        color: $black;
        text-decoration: none;
    }
}

.rsSchoolLink {
    display: block;
    background-image: url('../../assets/images/rs_school_js.svg');
    width: 2.5rem;
    height: 1rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    filter: invert(56%) sepia(67%) saturate(0%) hue-rotate(277deg) brightness(97%) contrast(100%);

    &:hover {
        filter: none;
    }
}
