@import '/src/theme/variable';

.checkout-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    opacity: 0;
    transition: all 0.3s ease;
    transform: translateX(-50%) translateY(200%);
    background-color: $white;
    width: $desktop;
    border-radius: 5px;
    padding: 2rem;
    z-index: 2;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.checkout-modal__overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 1;
    transition: all 0.3s ease;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.hidden_overlay {
    opacity: 0;
    transition: all 0.3s ease;
    pointer-events: none;
}

.active {
    opacity: 1;
    transition: all 0.3s ease;
    transform: translateX(-50%) translateY(-50%);
    pointer-events: all;
}

.checkout-modal__close-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 0.5rem;
    user-select: none;
    cursor: pointer;
}

.checkout-modal__close-icon {
    pointer-events: none;
}

.checkout-modal__heading {
    font-size: 1.4rem;
    margin-bottom: 2rem;
}

.checkout-modal__message {
    font-size: 0.8rem;
    margin-top: 0.3rem;
    // display: none;
}

.warning {
    color: $orange !important;
}

.error {
    color: $red !important;
}

.done {
    color: $green !important;
}

.checkout-modal__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.checkout-modal__details {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    margin-bottom: 1rem;
}

.checkout-modal__input-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 90%;
    margin-bottom: 1.5rem;
    height: 104px;
}

.checkout-modal__label {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.checkout-modal__input {
    @extend %input;
    width: 100%;
}

.checkout-modal__confirm-btn {
    @include btn($white, $black, rgba(0, 0, 0, 0.8));
    width: 300px;
    margin-top: 1.5rem;
}
