@import '/src/theme/variable';

.checkout-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    opacity: 0;
    transition: all 0.3s ease;
    transform: translateX(-50%) translateY(200%);
    background-color: $white;
    width: $desktop;
    border-radius: 5px;
    padding: 2rem;
    z-index: 2;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.checkout-modal__overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 1;
    transition: all 0.3s ease;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.hidden_overlay {
    opacity: 0;
    transition: all 0.3s ease;
    pointer-events: none;
}

.active {
    opacity: 1;
    transition: all 0.3s ease;
    transform: translateX(-50%) translateY(-50%);
    pointer-events: all;
}

.checkout-modal__close-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 0.5rem;
    user-select: none;
    cursor: pointer;
}

.checkout-modal__close-icon {
    pointer-events: none;
}

.checkout-modal__heading {
    font-size: 1.4rem;
    margin-bottom: 2rem;
}

.checkout-modal__message {
    font-size: 0.8rem;
    margin-top: 0.3rem;
    // display: none;
}

.checkout-modal__warning {
    color: $orange;
}

.checkout-modal__error {
    color: $red;
}

.checkout-modal__done {
    color: $green;
}

.checkout-modal__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.checkout-modal__details {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    margin-bottom: 1rem;
}

.checkout-modal__input-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 90%;
    margin-bottom: 1.5rem;
    height: 104px;
}

.checkout-modal__label {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.checkout-modal__input {
    @extend %input;
    width: 100%;
}

.card {
    width: 300px;
    height: 178px;
    position: relative;
    margin: 0 auto;
    margin-bottom: 5px;
    background-image: linear-gradient(to bottom left, #ffecc7, #d0b978);
    overflow: hidden;
    border-radius: 5px;
    position: relative;
    padding: 1rem 1rem 1rem 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    box-shadow: 0 15px 24px rgb(37 44 65 / 32%);
}

.card__logo {
    background-image: url('../../../assets/images/mastercard.svg');
    position: absolute;
    width: 80px;
    background-size: cover;
    height: 50px;
    top: 1rem;
    right: 1rem;
}

.card__bottom {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__input-label {
    font-size: 11px;
    color: $light-text;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-left: 0.5rem;
}

.card__input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.card__input {
    font-family: 'PT Mono';
    word-spacing: -3px;
    font-size: 1rem;
    color: #594b45;
    text-transform: uppercase;
    line-height: 1.8;
    width: 55%;
    padding-left: 0.5rem;

    -webkit-appearance: none;
    background: none;
    border: none;
    outline: none;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
}

.card__input_number {
    width: 100%;
}

.checkout-modal__confirm-btn {
    @include btn($white, $black, rgba(0, 0, 0, 0.8));
    width: 300px;
    margin-top: 1.5rem;
}
