@import '/src/theme/variable';

.product-page__prod-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 -2.4rem;
    background-color: white;
}
