@import '/src/theme/variable';

.filters {
    height: 100%;
    position: relative;
}

.filters__container {
    position: sticky;
    top: 0;
    margin-right: 1.3rem;
    padding: 1.5rem 1.3rem 1.3rem 0;
}

.filters__heading {
    @extend %heading-m;
    height: 30px;
}

.filter-title {
    width: 100%;
    font-size: 0.95rem;
    padding: 0.8rem 0;
    color: $black;
    font-weight: 400;
}

.filters__reset {
    height: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 0.8rem 1rem 0.3rem;
    cursor: pointer;
    user-select: none;
    transition: all 0.3s ease;
    &:hover .filters__reset-title,
    &:hover .filters__reset-btn {
        color: $light-text;
    }
}

.filters__reset-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    text-decoration: none;
    text-align: center;
    color: $black;
    font-size: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
    background-color: $light-grey;
    transition: all 0.3s ease;
    border-radius: 50%;
    margin-right: 0.5rem;
}

.filters__reset-title {
    transition: all 0.3s ease;
    margin: 0;
    padding-top: 0.1rem;
}

.filters__reset-icon {
    text-align: center;
    vertical-align: middle;
}
