@import '/src/theme/variable';

.filters {
    // background-color: red;
    height: 100%;
}

.filters__heading {
    font-size: 1.1rem;
    padding: 1rem 1.3rem;
    color: $black;
    font-weight: 400;
}
