@import '/src/theme/variable';

.filters {
    height: 100%;
    position: relative;
}

.filters__container {
    position: sticky;
    top: 0;
    margin-right: 1.3rem;
    padding: 1.3rem 1.3rem 1.3rem 0;
}

.filters__heading {
    @extend %heading-m;
}

.filter-title {
    width: 100%;
    font-size: 0.95rem;
    padding: 0.8rem 0;
    color: $black;
    font-weight: 400;
}
