@import '/src/theme/variable';

.cart__pagination-container {
    width: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 2rem 0.5rem 1rem 0;
    user-select: none;
}
