@import '/src/theme/variable';

.main {
    background-color: $background;
}

.main__container {
    display: flex;
    max-width: $desktop;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.content {
    width: 100%;
    // display: grid;
    // grid-template-columns: 0.75fr 3fr;
}
