@import '/src/theme/variable';

.main__page-products {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  min-height: calc(100vh - $footer-height - $header-height);
}

.page-main__container {
  width: 100%;
  display: block;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}
